footer {
  background-color: #f5f5f5;
  margin-top: 8rem;

  .btn {
    background: $light-black;
    color: white;
    width: 100%;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.3rem;
    font: 700 1.5rem/1.36 $fallback_fonts;

    &:hover {
      color:white;
      opacity: 0.9;
    }
    @media screen and (min-width:$bootstrap_md_breakpoint) {
      width: 30%;
    }
  }

  .form-control {
    padding: 2rem;
    border: 0.1rem solid #aaa;
    width: 100%;
  }
}

.footer_content {
  padding: 3rem 2rem 1.5rem;
  border-bottom: 0.2rem solid white;
  @media screen and (min-width:$bootstrap_md_breakpoint) {
    border: none;
  }
}

#email_header_content {
  margin-bottom: 3rem;
}

#email_sign_up_title {
  text-align: center;
  font: lighter 1.8rem/1.15 $fallback_fonts;
  @media screen and (min-width:$bootstrap_md_breakpoint) {
    text-align: left;
  }
}

#email_sign_up_detail {
  font: 1.1rem/1.36 $fallback_fonts;
}

#email_sign_up_agreement {
  font: 0.9rem/1.36 $fallback_fonts;
  text-align: center;
  margin: 5rem 0;
  @media screen and (min-width:$bootstrap_md_breakpoint) {
    margin: 1rem 0;
    font-size: 1rem;
  }
}

.footer_section_header {
  font: 700 1.5rem/1.36 $fallback_fonts;
  text-align: center;
  color: #222;
  @media screen and (min-width:$bootstrap_md_breakpoint) {
    text-align: left;
    font-size: 400;
    font-size: 1.1rem;
    border-bottom: 0.1rem solid #ddd;
    padding: $padding_for_section_header_and_more_options;
  }
}

.social_icon {
  width: 3.2rem;
  height: 3.2rem;
  @media screen and (min-width:$bootstrap_md_breakpoint) {
    width: 2.2rem;
    height: 2.2rem;
  }
}

#social_media_icon_contianer {
  width: 18rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  @media screen and (min-width:$bootstrap_md_breakpoint) {
    width: 35%;
    margin: 0;
  }
  @media screen and (min-width:$bootstrap_lg_breakpoint) {
    width: 100%;
  }

  li {
    margin: 0.8rem;
    @media screen and (min-width:$bootstrap_lg_breakpoint) {
      margin: 0;
    }
  }
}

.footer_more_options {
  display: none;
  @media screen and (min-width:$bootstrap_md_breakpoint) {
    display: block;
    padding: $padding_for_section_header_and_more_options;
  }
}

.form-group {
  @media screen and (min-width:$bootstrap_md_breakpoint) {
    width: 60%;
    margin-right: 1.5rem;
  }
}

footer {
  & > .container-fluid {
    @media screen and (min-width:$bootstrap_lg_breakpoint) {
      padding: 0 11rem;
    }
  }
}
