.align-with-UO-logo{
  position: relative;
  left:43.5%;
}

.fill-parent{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.dropdown-design{
  width: 100%;
  border: 1px solid #aaa;
  font: 1.4rem/1.3 helvetica, arial, sans-serif;
}
