:root {
  /*If default font-size is 16px; 1 rem = 10 px*/
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  /*Make default font-size bigger. If default font-size is 16px; 1.6 rem = 16 px*/
  margin-top: 5rem;
  font: 1.1rem/1 helvetica, arial, sans-serif;
}

.navbar-toggler {
  border: none;
}

#nav_logo_container {
  width: 70%;
  text-align: center;
}

#nav_logo {
  width: 3.6rem;
}

#navbarSupportedContent {
  font: 600 1.2rem helvetica, arial, sans-serif;
}

#nav_sign_in_font {
  color: rgba(0, 0, 0, 0.5);
  font: 600 1.2rem helvetica, arial, sans-serif;
}

.search_icon_img {
  width: 20px;
  height: 18px;
  fill: #222;
}

.bag_icon_img {
  width: 16.5px;
  height: 1.8rem;
}

nav .form-control {
  max-width: 9rem;
  font: 1.1rem/1.36 helvetica, arial, sans-serif;
}
nav .form-control:focus {
  box-shadow: none;
}

.content_image {
  z-index: 0;
  max-width: 100%;
}
.content_image:hover {
  opacity: 0.8;
}

.image_button {
  z-index: 1;
  opacity: 0.9;
  position: absolute;
  bottom: 1rem;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: 400;
  font: 1.1rem/1 helvetica, arial, sans-serif;
  color: black;
  padding: 1rem;
}
.image_button:hover {
  background-color: white;
  opacity: 1;
}

footer {
  background-color: #f5f5f5;
  margin-top: 8rem;
}
footer .btn {
  background: #222;
  color: white;
  width: 100%;
  padding: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
  font: 700 1.5rem/1.36 helvetica, arial, sans-serif;
}
footer .btn:hover {
  opacity: 0.9;
}
footer .form-control {
  padding: 2rem;
  border: 0.1rem solid #aaa;
  width: 100%;
}

.footer_content {
  padding: 3rem 2rem 1.5rem;
  border-bottom: 0.2rem solid white;
}

#email_header_content {
  margin-bottom: 3rem;
}

#email_sign_up_title {
  text-align: center;
  font: lighter 1.8rem/1.15 helvetica, arial, sans-serif;
}

#email_sign_up_detail {
  font: 1.1rem/1.36 helvetica, arial, sans-serif;
}

#email_sign_up_agreement {
  font: 0.9rem/1.36 helvetica, arial, sans-serif;
  text-align: center;
  margin: 5rem 0;
}

.footer_section_header {
  font: 700 1.5rem/1.36 helvetica, arial, sans-serif;
  text-align: center;
  color: #222;
}

.social_icon {
  width: 3.2rem;
  height: 3.2rem;
}

#social_media_icon_contianer {
  width: 18rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
#social_media_icon_contianer li {
  margin: 0.8rem;
}

.footer_more_options {
  display: none;
}

/*Bootsrap 4 md breakpoint */
@media screen and (min-width: 768px) {
  #nav_logo {
    width: 25rem;
  }

  body > .container-fluid {
    padding: 4rem;
  }

  footer .btn {
    width: 30%;
  }
  footer .form-group {
    width: 60%;
    margin-right: 1.5rem;
  }

  #email_sign_up_title {
    text-align: left;
  }

  #email_sign_up_agreement {
    margin: 1rem 0;
    font-size: 1rem;
  }

  #social_media_icon_contianer {
    width: 35%;
    margin: 0;
  }

  .footer_content {
    border: none;
  }

  .social_icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  .footer_section_header {
    text-align: left;
    font-size: 400;
    font-size: 1.1rem;
    border-bottom: 0.1rem solid #ddd;
    padding: 1rem;
  }

  .footer_more_options {
    display: block;
    padding: 1rem;
  }
}
/*Bootsrap 4 lg breakpoint */
@media screen and (min-width: 992px) {
  #nav_logo {
    width: 15rem;
    height: 1.5rem;
  }

  #nav_logo_container {
    width: auto;
  }

  body > .container-fluid {
    padding: 4rem 6rem;
  }

  #social_media_icon_contianer {
    width: 100%;
  }
  #social_media_icon_contianer li {
    margin: 0;
  }

  footer > .container-fluid {
    padding: 0 11rem;
  }
}

/*# sourceMappingURL=main.css.map */
