.align-with-UO-logo {
  position: relative;
  left: 43.5%;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box;
}

*, *:before, *:after {
  /*If default font-size is 16px; 1 rem = 10 px*/
  box-sizing: inherit;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  /*Make default font-size bigger. If default font-size is 16px; 1.6 rem = 16 px*/
  margin-top: 5rem;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox], [type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template, [hidden] {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
html {
  /*If default font-size is 16px; 1 rem = 10 px*/
  font-size: 62.5%;
}

body {
  /*Make default font-size bigger. If default font-size is 16px; 1.6 rem = 16 px*/
  font: 1.1rem helvetica, arial, sans-serif;
}

.navbar-toggler {
  border: none;
}

#nav_logo_container {
  width: 70%;
  text-align: center;
}
@media screen and (min-width: 992px) {
  #nav_logo_container {
    width: auto;
  }
}

#nav_logo {
  width: 3.6rem;
}
@media screen and (min-width: 768px) {
  #nav_logo {
    width: 25rem;
  }
}
@media screen and (min-width: 992px) {
  #nav_logo {
    width: 15rem;
    height: 1.5rem;
  }
}

#navbarSupportedContent {
  font: 600 1.2rem helvetica, arial, sans-serif;
}

#nav_sign_in_font {
  color: rgba(0, 0, 0, 0.5);
  font: 600 1.2rem helvetica, arial, sans-serif;
}

.search_icon_img {
  width: 20px;
  height: 18px;
  fill: #222;
}

.bag_icon_img {
  width: 16.5px;
  height: 1.8rem;
}

nav .form-control {
  max-width: 9rem;
  font: 1.1rem/1.36 helvetica, arial, sans-serif;
}
nav .form-control:focus {
  box-shadow: none;
}

footer {
  background-color: #f5f5f5;
  margin-top: 8rem;
}
footer .btn {
  background: #222;
  color: white;
  width: 100%;
  padding: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
  font: 700 1.5rem/1.36 helvetica, arial, sans-serif;
}
footer .btn:hover {
  opacity: 0.9;
}
@media screen and (min-width: 768px) {
  footer .btn {
    width: 30%;
  }
}
footer .form-control {
  padding: 2rem;
  border: 0.1rem solid #aaa;
  width: 100%;
}

.footer_content {
  padding: 3rem 2rem 1.5rem;
  border-bottom: 0.2rem solid white;
}
@media screen and (min-width: 768px) {
  .footer_content {
    border: none;
  }
}

#email_header_content {
  margin-bottom: 3rem;
}

#email_sign_up_title {
  text-align: center;
  font: lighter 1.8rem/1.15 helvetica, arial, sans-serif;
}
@media screen and (min-width: 768px) {
  #email_sign_up_title {
    text-align: left;
  }
}

#email_sign_up_detail {
  font: 1.1rem/1.36 helvetica, arial, sans-serif;
}

#email_sign_up_agreement {
  font: 0.9rem/1.36 helvetica, arial, sans-serif;
  text-align: center;
  margin: 5rem 0;
}
@media screen and (min-width: 768px) {
  #email_sign_up_agreement {
    margin: 1rem 0;
    font-size: 1rem;
  }
}

.footer_section_header {
  font: 700 1.5rem/1.36 helvetica, arial, sans-serif;
  text-align: center;
  color: #222;
}
@media screen and (min-width: 768px) {
  .footer_section_header {
    text-align: left;
    font-size: 400;
    font-size: 1.1rem;
    border-bottom: 0.1rem solid #ddd;
    padding: 1rem;
  }
}

.social_icon {
  width: 3.2rem;
  height: 3.2rem;
}
@media screen and (min-width: 768px) {
  .social_icon {
    width: 2.2rem;
    height: 2.2rem;
  }
}

#social_media_icon_contianer {
  width: 18rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #social_media_icon_contianer {
    width: 35%;
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  #social_media_icon_contianer {
    width: 100%;
  }
}
#social_media_icon_contianer li {
  margin: 0.8rem;
}
@media screen and (min-width: 992px) {
  #social_media_icon_contianer li {
    margin: 0;
  }
}

.footer_more_options {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer_more_options {
    display: block;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .form-group {
    width: 60%;
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  footer > .container-fluid {
    padding: 0 11rem;
  }
}

.content_image {
  z-index: 0;
  max-width: 100%;
}
.content_image:hover {
  opacity: 0.8;
}

.image_button {
  z-index: 1;
  opacity: 0.9;
  position: absolute;
  bottom: 1rem;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: 400;
  font: 1.1rem/1 helvetica, arial, sans-serif;
  color: black;
  padding: 1rem;
}
.image_button:hover {
  background-color: white;
  opacity: 1;
}

@media screen and (min-width: 992px) {
  .App > .container-fluid {
    padding: 4rem 6rem;
  }
}

div > h3 {
  font: 700 1.6rem/1.36 helvetica, arial, sans-serif;
  color: black;
}

.item-image {
  z-index: 0;
  max-width: 100%;
}

.filter-dropdown {
  width: 100%;
  border: 1px solid #aaa;
  font: 1.4rem/1.3 helvetica, arial, sans-serif;
}

.btn-secondary:hover {
  border-color: #aaa !important;
}

.dropdown-toggle:focus {
  box-shadow: none !important;
}

.item-title {
  font: 1.1rem/1.36 helvetica, arial, sans-serif;
}

.item-price {
  font: 1.1rem/1.6 helvetica, arial, sans-serif;
  letter-spacing: 0.04rem;
}

#item-category-filter {
  width: 70%;
}

.item-attribute-filter {
  width: 26%;
}
@media screen and (min-width: 768px) {
  .item-attribute-filter {
    width: 50%;
  }
}

#result-count {
  font: 1.1rem/1.36 helvetica, arial, sans-serif;
  color: #767676;
}

.item-available-image-container:hover .quick-shop-button {
  border: 1px solid white;
  background-color: white;
  opacity: 0.93;
}

.quick-shop-button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  font: 1.1rem/1 helvetica, arial, sans-serif;
  text-align: center;
  width: 100%;
  padding: 2rem;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .quick-shop-button {
    opacity: 1;
  }
}

#browse-by-header {
  font: 1.1rem/1.36 helvetica, arial, sans-serif;
  letter-spacing: 0.04rem;
  color: #767676;
  border-bottom: 1px solid #aaa;
}

#all-new-header {
  font: 700 1.1rem/1.36 helvetica, arial, sans-serif;
}

/*# sourceMappingURL=main.css.map */
