.buy-item-container{
  padding:4rem;
}
.buy-item-title-and-price{
  font: lighter 1.8rem/1.15 $fallback-fonts;
}

.size-text{
  font: 1.1rem/1.36 $fallback-fonts;
  text-decoration: underline;
}
#add-to-bag-button{
  font:700 2rem/1.36 $fallback-fonts;
  background-color: $light-black;
  border:1px solid $light-black;

  &:hover{
    opacity: 0.9;
  }
}
