.content_image {
  @include overlayable-image-fills-container;
  &:hover {
    opacity: 0.8;
  }
}

.image_button {
  z-index: 1;
  opacity: 0.9;
  position: absolute;
  bottom: 1rem;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: 400;
  font: 1.1rem/1 $fallback_fonts;
  color: black;
  padding: 1rem;

  &:hover {
    background-color: white;
    opacity: 1;
  }
}

.App {
  & > .container-fluid {
    @media screen and (min-width:$bootstrap_lg_breakpoint) {
      padding: 4rem 6rem;
    }
  }
}
